<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Chat</title>
        <link rel="shortcut icon" href="/img/favicon.png">
        <link rel="stylesheet" href="http://cormoran.uis.edu.co/eisi/css/Estandar/Elise/Elise.css">
        <style>
            body{ margin: 20px; }
            img{ height: 200px; margin: 2px; }
        </style>
    </head>
    <body>
        <!-- // CHAT ENTRANCE // -->
        <h2>Aula</h2>
        <p>{{user}} - {{code}}</p>
        <p><button id="chat" class="boton azul">Entrar al Chat</button></p>


        <!-- // PRE-CHAT MESSAGE // -->
        <div id="chatMsg" class="hidden">
            Esta puede ser alguna información al respecto del chat y de su utilizanción. También
            incluiría normas o reglas a tener en consideración. Por final, también indicar algunas
            cuestiones en cuanto a cómo funciona o tips de uso.
        </div>


        <!-- // SCRIPTS // -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
        <script src="http://cormoran.uis.edu.co/eisi/Scripts/Estandar/Elise.js"></script>
        <script>
            // Application
            var app = {};
            // User Data
            app.data = {
                // This is written with JSP, not Expressjs
                // This is temporary
                room: '{{room}}',
                code: '{{code}}',
                subject: 'Programación en la Web',
                teacher: 'Pedro José Gonzales Martínez'
            };
        </script>
        <script src="/js/aula.js"></script>
    </body>
</html>