<!DOCTYPE HTML>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Aula - {{name}}</title>
        <link rel="icon" href="/img/favicon.ico">
        <link rel="stylesheet" href="http://cormoran.uis.edu.co/eisi/css/Estandar/Elise/Elise.css">
        <style>
            img { height: 200px; margin: 2px; }
        </style>
    </head>
    <body>
        <!-- // CHAT ENTRANCE // -->
        <div class="row-fluid">
            <div class="span8 offset2">
                <h2>Aula</h2>
                <p>
                    El usuario entrará a la sala de chat ya estándo en el aula logueado.
                    Aquí se cargarán los datos del usuario y se guardará copia de ellos.
                    Luego, se instancia la sala de chat, la cual depende de esta ventana.
                </p>
                <p>{{clase}} - {{name}} - {{id}}</p>
                <p>
                    <button id="chat" class="boton azul">
                        <span class="icon icon_i8"></span>
                        <span class="label">Entrar al Chat</span>
                    </button>
                </p>
            </div>
        </div>


        <!-- // PRE-CHAT MESSAGE // -->
        <div id="chatMsg" class="hidden">
            Esta puede ser alguna información al respecto del chat y de su utilizanción. También
            incluiría normas o reglas a tener en consideración. Por final, también indicar algunas
            cuestiones en cuanto a cómo funciona o tips de uso.
        </div>


        <!-- // SCRIPTS // -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
        <script src="http://cormoran.uis.edu.co/eisi/Scripts/Estandar/Elise.js"></script>
        <script>
            // Application
            var app = {};
            // User Data
            app.data = {
                // Esto es escrito con el lenguaje del servidor utilizado
                // Puede ser con JSP u otro lenguaje
                id: '{{id}}',
                clase: '{{clase}}',
                subject: 'Programación en la Web',
                teacher: 'Pedro José Gonzales Martínez'
            };
        </script>
        <script src="/js/aula.js"></script>
    </body>
</html>