<!DOCTYPE HTML>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Chat</title>
        <link rel="shortcut icon" href="/img/favicon.png">
        <link rel="stylesheet" href="http://cormoran.uis.edu.co/eisi/css/Estandar/Elise/Elise.css">
        <link rel="stylesheet" type="text/css" href="/css/chat.css">
    </head>
    <body>
        <!-- // LOADER // -->
        <div id="loader">Cargando...</div>


        <!-- // MAIN // -->
        <div id="main" class="invisible">

            <!-- // HEADER // -->
            <header id="header" class="block negro">
                <img id="photo" class="part float-left offline" src="/img/photos/avatar.jpg">
                <div id="user" class="part float-left">
                    Student Name<br>
                    Student - Code
                </div>
                <div class="part float-right">
                    <button id="config" class="boton negro">
                        <span class="icon icon_o5"></span>
                    </button>
                </div>
                <div id="subject" class="part float-right">
                    Nombre de Materia<br>
                    Nombre de Docente
                </div>
            </header>

            <!-- // USERS // -->
            <section id="users">
                <div id="usersTitle" class="block header normal"><div>Usuarios Online</div></div>
                <div id="usersList"></div>
            </section>

            <!-- // CHAT // -->
            <section id="chat">
                <div id="chatTitle" class="normal header"><div>Chat General</div></div>
                <div id="content-chat">
                    <div id="chatRoom" class="block"></div>
                </div>
                <form id="toolbar" class="block" name="toolbar">
                    <input id="message" type="text" autofocus autocomplete="off" placeholder="Escribe un mensaje...">
                    <button class="hidden" type="submit">Send</button>
                </form>
            </section>

            <!-- // ROOMS // -->
            <section id="rooms">
                <div id="roomsTitle" class="block header normal">
                    <div>
                        <span>Salas</span>
                        <span id="roomsCreate" class="option icon icon_f8" title="Crear nueva sala"></span>
                    </div>
                </div>
                <div id="roomsList"></div>
            </section>

        </div>


        <!-- // TEMPLATES // -->
        <script id="msgTemplate" type="text/template">
                <div class="block">
                    <div class="msg <%=position+' '+theme+' '+user.code%>" style="">
                        <div class="avatar">
                            <img class="img-polaroid img-rounded" src="<%=user.photo%>">
                        </div>
                        <div class="info">
                            <span class="name">
                                <strong class="indent"><%=user.firstName +' '+user.secondName+ ' ' + user.firstSurname%></strong>
                            </span>
                            <span class="time">Ahora</span>
                        </div>
                        <div class="content">
                            <p><%=msg.text%></p>
                        </div>
                    </div>
                </div>
        </script>


        <!-- // SCRIPTS // -->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
        <script src="http://cormoran.uis.edu.co/eisi/Scripts/Estandar/Elise.js"></script>
        <script src="/js/chat.app.js"></script>
        <script src="/js/chat.ui.js"></script>
        <script src="/js/chat.js"></script>
    </body>
</html>