<!DOCTYPE HTML>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Chat</title>
        <link rel="icon" href="/img/favicon.ico">
        <link rel="stylesheet" href="http://cormoran.uis.edu.co/eisi/css/Estandar/Elise/Elise.css">
        <link rel="stylesheet" type="text/css" href="/css/chat.css">
    </head>
    <body>
        <!-- // MAIN // -->
        <div id="main" class="invisible">

            <!-- // HEADER // -->
            <header id="header" class="block">
                <img id="photo" class="part float-left offline" src="/img/photos/avatar.jpg">
                <div id="user" class="part float-left">
                    Nombre de Usuario<br>
                    Categoria - Código
                </div>
                <div class="part float-right">
                    <button id="config" class="boton negro">
                        <span class="icon icon_o5"></span>
                    </button>
                    <button id="exit" class="boton rojo">
                        <span class="icon icon_l1"></span>
                    </button>
                </div>
                <div id="subject" class="part float-right">
                    Nombre de Materia<br>
                    Nombre de Docente
                </div>
            </header>

            <!-- // USERS // -->
            <section id="users">
                <div id="usersTitle" class="block header ">
                    <h5>Usuarios Online</h5>
                </div>
                <div id="usersList"></div>
            </section>

            <!-- // CHAT // -->
            <section id="chat">
                <div id="chatTitle" class=" "><h5>Chat General</h5></div>
                <div id="content-chat">
                    <div id="chatRoom" class="block"></div>
                </div>
                <div class="toolbar">
                 <form id="toolbar" class="" name="toolbar">
                    <div class="row-fluid">
                        <div class="span10">
                        <textarea  id="message" type="text" autofocus autocomplete="off" placextarea placeholder="Escribe un mensaje..."></textarea>
                        </div>
                        <div class="span2"><button class="boton boton-grande celeste" type="submit">Enviar</button></div>
                    </div> 
                    </form>
                </div>
                    
            </section>

            <!-- // ROOMS // -->
            <section id="rooms">
                <div id="roomsTitle" class="block header">
                    <h5>
                        <span>Salas</span>
                        <a class="btn option" id="roomsCreate" title="Crear nueva sala">
                            <span  class=" icon icon_f8 active" ></span>
                        </a>
                    </h5>
                </div>
                <div id="roomsList"></div>
            </section>

        </div>


        <!-- // CREATE CUSTOM ROOM // -->
        <div id="createRoomModal" class="none">
            <p>Crea una nueva sala de chat privada con quienes selecciones.</p>
            <input id="createRoomName" class="input-supergrande" type="text" placeholder="Nombre de sala" value="">
            <select id="createRoomUsers" multiple></select>
        </div>


        <!-- // TEMPLATES // -->
        <!-- // reemplazar < { por { { y reemplazar } > por } } // -->
        <script id="msgTemplate" type="text/template">
            <div class="block">
                <div class="msg <{(position +' '+ theme +' '+ user.id +' '+ time).replace(':','_')}>">
                    <div class="avatar">
                        <img class="img-polaroid img-rounded" src="<{user.photo}>">
                    </div>
                    <div class="info">
                        <span class="name">
                            <strong class="indent"><{user.firstName +' '+ user.secondName +' '+ user.firstSurname}></strong>
                        </span>
                        <span class="time" title="<{ago}>"><{time}></span>
                    </div>
                    <div class="content">
                        <p><{content}></p>
                    </div>
                </div>
            </div>
        </script>


        <!-- // SCRIPTS // -->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
        <script src="/js/Elise.dev.js"></script>
        <script src="/js/tools.js"></script>
        <script src="/js/chat.app.js"></script>
        <script src="/js/chat.ui.js"></script>
        <script src="/js/chat.js"></script>
    </body>
</html>