<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Chat</title>
        <link rel="shortcut icon" href="/img/favicon.png">
        <link type="text/css" rel="stylesheet" href="http://cormoran.uis.edu.co/eisi/css/Estandar/Elise/Elise.css">
        <style type="text/css">
        
            body{
                margin: 20px;
            }

        </style>
    </head>
    <body>
        <h1>Aula Chat</h1>
        <p>Salas de clase disponibles:</p>
        <p><select id="rooms">
            <option value="262456_W9">262456_W9</option>
            <option value="262456_G3">262456_G3</option>
            <option value="287892_A1">287892_A1</option>
            <option value="287892_K4">287892_K4</option>
        </select></p>
        <p>Usuarios disponibles:</p>
        <ul>
            <li><a data-code="2130000" href="/aula">Romel Pérez</a></li>
            <li><a data-code="2130001" href="/aula">Natalia Contreras</a></li>
            <li><a data-code="2130002" href="/aula">Duvan Vargas</a></li>
            <li><a data-code="2130003" href="/aula">Karen Vega</a></li>
        </ul>

        <!-- // SCRIPTS // -->
        <script type="text/javascript" src="/js/jquery.min.js"></script>
        <script type="text/javascript" src="http://cormoran.uis.edu.co/eisi/Scripts/Estandar/Elise.js"></script>
        <script type="text/javascript">

            $(document).ready(function(){

                $('#rooms').select2({
                    width: "200px",
                    minimumResultsForSearch: -1
                });

                $('a').on('click', function(e){
                    e.preventDefault();

                    var code = $(this).data('code');
                    var room = $('#rooms').select2('val');
                    window.location.href = '/aula?code=' + code + '&room=' + room;
                });

            });

        </script>
    </body>
</html>