/*!
 * PRHONE Applications
 * Central | Index | Design
 * Romel Pérez, 2013
 **/

/* ------------------------------------------------------------------------- */
/* AESTHETICS */

body{
	margin: 0;
	font-family: Ubuntu,sans-serif;
	background: #333;
}

.block{
	display: block;
	overflow: auto;
	width: 100%;
}

.none{
	display: none;
}

.header{
	margin: 0;
	padding: 0 5px;
	height: 26px;
	font-size: 16px;
	line-height: 26px;
	font-weight: bold;
	background: -moz-linear-gradient(top, #45484d 0%, #000000 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000));
	background: -webkit-linear-gradient(top, #45484d 0%,#000000 100%);
	background: -o-linear-gradient(top, #45484d 0%,#000000 100%);
	background: -ms-linear-gradient(top, #45484d 0%,#000000 100%);
	background: linear-gradient(to bottom, #45484d 0%,#000000 100%);
}


/* ------------------------------------------------------------------------- */
/* STRUCTURE */

#main{}

#users{
	float: left;
}
	#usersList, #roomsList{
		font-size: 14px;
		line-height: 20px;
	}
	#usersList > div, #roomsList > div{
		border-bottom: 1px solid #444;
		cursor: pointer;
		padding: 2px 4px;
	}
	#usersList > div:hover, #roomsList > div:hover{
		background: #555;
	}
	#usersList > div img{
		height: 40px;
		margin-right: 4px;
		float: left;
	}

#chat{
	float: left;
	border-left: 1px solid #555;
}
	#chatTabs .header{
		display: inline-block;
	}
	#chatRoom .chatRoom{
		width: 100%;
		height: 100%;
		overflow: auto;
	}
	#chatRoom .chatRoom div{
		padding: 1px 5px;
	}
	#toolbar input[type=text]{
	    height: 30px;
    	padding: 4px 6px;
	}

#rooms{
	float: right;
	border-left: 1px solid #555;
}
	#roomsList > div.active{
		background: #335;
	}
