<!DOCTYPE HTML>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Realtime</title>
        <link href="/favicon.ico" rel="shortcut icon">
        <link rel="stylesheet" href="http://cormoran.uis.edu.co/eisi/css/Estandar/Elise/Elise.css">
    </head>
    <body>
        <div class="row-fluid">
            <div class="span8 offset2">
                <h1>Calumet Developers Group</h1>
                <h2>Portal's Realtime System</h2>
                <p>Sistema de aplicaciones para comunicación en tiempo real mediante web sockets.</p>
                <p><a href="/login">Login</a></p>
            </div>
        </div>
    </body>
</html>