<!DOCTYPE HTML>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link rel="shortcut icon" href="/favicon.ico">
        <link rel="stylesheet" href="http://cormoran.uis.edu.co/eisi/css/Estandar/Elise/Elise.css">
    </head>
    <body>
        <!-- // Main // -->
        <div class="row-fluid">
            <div class="span8 offset2">
                <h1>Login</h1>
                <p>Usuarios disponibles para hacer pruebas.</p>
                <p>
                    <select id="users" name="users">
                        <option value="U10">Luis González</option>
                        <option value="U3856">Romel Pérez</option>
                    </select>
                </p>
                <p>Entrar con el usuario elegido.</p>
                <p class="block">
                    <button id="portal" class="boton azul">
                        <span class="icon icon_l12"></span>
                        <span class="label">Entrar como Usuario</span>
                    </button>
                    <!--button id="admin" class="boton azul">
                        <span class="icon icon_l12"></span>
                        <span class="label">Entrar como Admin</span>
                    </button-->
                </p>
            </div>
        </div>


        <!-- // Scripts // -->
        <script src="http://cormoran.uis.edu.co/eisi/Scripts/jQuery/jquery.min.js"></script>
        <script src="http://cormoran.uis.edu.co/eisi/Scripts/Estandar/Elise.js"></script>
        <script src="/eisi/Scripts/Portal/login.js"></script>
    </body>
</html>