<!DOCTYPE HTML>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link rel="icon" href="/favicon.ico">
        <link rel="stylesheet" href="http://cormoran.uis.edu.co/eisi/css/Estandar/Elise/Elise.css">
    </head>
    <body>
        <!-- // MAIN // -->
        <div class="row-fluid">
            <div class="span8 offset2">
                <h1>Login</h1>
                <p>Salas de clase disponibles:</p>
                <p>
                    <select id="clases" name="clases">
                        <option value="262456_W9">262456_W9</option>
                        <option value="262456_G3">262456_G3</option>
                        <option value="287892_A1">287892_A1</option>
                        <option value="287892_K4">287892_K4</option>
                    </select>
                </p>
                <p>Usuarios disponibles:</p>
                <p>
                    <select id="users" name="users"></select>
                </p>
                <p>Entrar al aula virtual logueado con el usuario elegido en la clase elegida.</p>
                <p class="block">
                    <button id="enter" class="boton azul">
                        <span class="icon icon_k8"></span>
                        <span class="label">Entrar al Aula</span>
                    </button>
                </p>
            </div>
        </div>


        <!-- // SCRIPTS // -->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script src="http://cormoran.uis.edu.co/eisi/Scripts/Estandar/Elise.js"></script>
        <script>
            // Application :: Users cache
            var app = {
                users: null
            };

            // DOM Events
            $(function () {

                $('#clases').select2({
                    width: 400,
                    minimumResultsForSearch: -1
                }).on('change', function () {

                    // Conseguir usuarios de la clase seleccionada
                    $.ajax({
                        type: 'post',
                        url: '/getUsersByClass',
                        data: {
                            clase: $('#clases').select2('val')
                        },
                        success: function (res) {
                            var options = '';
                            // Guardar cache
                            app.users = res.users;
                            // Colocar usuarios en selector
                            _.each(res.users, function (user, i) {
                                options += '<option value="'+ user.id +'">'
                                        + user.firstName + ' '
                                        + user.firstSurname +'</option>'
                            });
                            // Mostrar usuarios
                            $('#users').html(options).select2({width: 400});
                        },
                        error: function () {
                            console.debug('>>> Error conectando con el servidor!');
                        }
                    });

                }).trigger('change');  // Conseguir usuarios cuando ya esté cargada la página

                $('#users').select2({width: 400});

                // Entrar al aula
                $('#enter').on('click', function(e) {
                    var clase = $('#clases').select2('val');
                    var id = $('#users').select2('val');
                    var name = app.users[id].firstName + ' ' + app.users[id].firstSurname;

                    window.location.href = '/aula?clase=' + clase + '&id=' + id + '&name=' + name;
                });

            });
        </script>
    </body>
</html>