<!DOCTYPE HTML>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Portal</title>
        <link rel="stylesheet" href="http://cormoran.uis.edu.co/eisi/css/Estandar/Elise/Elise.css">
        <style>
            body{margin: 20px;}
        </style>
    </head>
    <body>
        <h2>Portal</h2>
        <p>Connection results in browser console.</p>
        <div><input id="userid" type="text" value="U3856" placeholder="User identifier"></div>
        <div class="block"><button id="connect" class="boton">Connect</button></div>

        <script src="http://{{socketsServer.host}}:{{socketsServer.port}}/socket.io/socket.io.js"></script>
        <script>
            document.getElementById('connect').addEventListener('click', function () {

                this.remove();

                window.userid = document.getElementById('userid').value;

                window.socket = io('http://{{socketsServer.host}}:{{socketsServer.port}}/portal', {
                    query: 'userid=' + userid
                });
                console.log('Connecting with user ' + userid);

                socket.on('connect', function (data) {
                    console.log('Connected with Server:', data);
                });

                socket.on('error', function (err) {
                    console.log('Error in connection:', err);
                });

            }, false);
        </script>
    </body>
</html>