<!DOCTYPE HTML>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/favicon.ico">
        <link rel="stylesheet" href="http://cormoran.uis.edu.co/eisi/css/Estandar/Elise/Elise.css">
        <title>Portal | Admin</title>
    </head>
    <body>
        <div class="row-fluid">
            <div class="span8 offset2">
                <h1>Portal | Admin (Sockets)</h1>
                <p>Este servicio es sólo ofrecido para usuarios administradores.</p>
                <p>La verificación de que el usuario el administrador se realiza desde JSP.</p>
                <p>Cuando el administrador ejecuta funciones sólo de administrador, en el servidor se verifican.</p>

                <div class="block">
                    <h3>Estadísticas</h3>
                    <p>Usuarios conectados <strong id="statsUsers"><small>(buscando...)</small></strong></p>
                </div>
            </div>
        </div>

        <!-- // Scripts // -->
        <script src="http://cormoran.uis.edu.co/eisi/Scripts/jQuery/jquery.min.js"></script>
        <script src="http://cormoran.uis.edu.co/eisi/Scripts/Estandar/Elise.js"></script>

        <!-- // Realtime :: Portal // -->
        <script>
            var portal = portal || {};
            portal.server = portal.server || {};
            portal.server.host = '{{=sockets.host}}';
            portal.server.port = '{{=sockets.port}}';
            portal.server.url = 'http://{{=sockets.host}}:{{=sockets.port}}';
            portal.user = portal.user || {};
            portal.user.id = '{{id}}';
        </script>
        <script src="/js/portal/portal.realtime.js"></script>

        <!-- // Realtime :: Portal Plugin :: Admin // -->
        <script src="/js/portal/admin.js"></script>
    </body>
</html>